.download {
    text-align: center;
    margin: 50px;
  }
  
  .download-btn {
    font-family: 'DMSans';
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: white;
    background-color: #000000;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .download-btn:hover {
    background-color: #97c4ff;
    transform: scale(1.05);
  }
  
  .download-btn:active {
    background-color: #97c4ff;
    transform: scale(0.95);
  }