@import url(./style.css);
@import url(./animation.css);

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

body {
    max-width: 1110px;
    margin: 0 auto;
    background-color: var(--dark-color);
}

nav {
    display: flex;
    margin: 10vh 0 1vh 0;

    animation: slideOut 0.5s;
}

nav a {
    font-family: 'DMSans';
    font-weight: 400;
    font-size: var(--fs-24);
    text-decoration: none;
    text-transform: uppercase;
    margin-right: var(--fs-40);
    color: var(--black-color);
}

/* GENERAL */

.main-page-container {
    width: 100%;
    margin: 0 auto;
}

.title-section-page {
    font-family: 'DMSans';
    font-size: var(--fs-100);
}

.section-box {
    margin: 20px;
}

.img-section {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.section-box p {
    font-family: 'DMSans';
}