/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
    .title-section-page {
        font-size: var(--fs-64);
    }

    .section-box p {
        font-size: var(--fs-16);
    }

    .img-section {
        width: 100%;
        height: 250px;
    }
    .open-title {
        font-size: var(--fs-26);
    }
}

/* Mobiles (max-width: 768px) */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        padding: 10px 0;
    }

    nav a {
        font-size: 16px;
    }

    .section-page-container {
        padding: 10px;
    }

    .title-section-page {
        font-size: var(--fs-40);
    }

    .img-section {
        height: 250px;
    }

    .section-box p {
        font-size: 1rem;
        padding: 0 5px;
    }
    .open-title {
        font-size: var(--fs-20);
    }
}

/* Small screens (max-width: 480px) */
@media (max-width: 480px) {
    header {
        padding: 8px 0;
    }

    nav a {
        font-size: 14px;
    }

    .title-section-page {
        font-size: var(--fs-40);
    }

    .img-section {
        height: 180px;
    }

    .section-box p {
        font-size: 0.9rem;
    }

    .open-title {
        font-size: var(--fs-20);
    }
}
